body
  background: $bgColor
  font-family: 'Open Sans', sans-serif
  @media $xs
    font-size 0.7em

.bg-gradient
  linearGradient(lighten(#0f1516, 5%), lighten(#113a47, 20%))
  width: 100vw
  height: 100vh
  position: fixed
  z-index: -2

.bg-pattern
  background: url("../img/bg-pattern.png") repeat
  opacity: 0.5
  width: 100vw
  height: 100vh
  position: fixed
  z-index: -1

a, a:link, a:visited, a:active
  color: $mainColor1
  border-bottom 1px dotted $mainColor1
  cursor: pointer
  transition: text-shadow 0.3s ease, border-bottom-color 0.5s ease
  text-decoration none
a:hover
  color $mainColor1
  text-shadow $titleTextShadowLight
  border-bottom 1px dotted transparent
  text-decoration none

.btn
  color: $btnTextColor
  text-decoration: none
  font-family: $fontTitle
  background: $btnBgColor
  &:hover
    background: darken($btnBgColor, 8%)
    transition: all 0.3s ease
  &:active
    background: darken($btnBgColor, 25%)

.push
  height: 150px
  @media $xs
    height 60px

#ds-thread #ds-reset li.ds-tab a
  text-shadow: none!important
  color: $mainColor1!important

#ds-thread #ds-reset a
  color: $mainColor1!important
  border-color: $mainColor1!important
  &:hoer
    color: $mainColor1!important
#ds-thread #ds-reset .ds-sort a.ds-current, #ds-thread #ds-reset .ds-sort a:active
  text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 7px #228dff!important
#ds-thread #ds-reset li.ds-post-placeholder
  color: $mainColor1!important
#ds-thread #ds-reset .ds-account-control span
  color: $mainColor1!important
#ds-thread #ds-reset .ds-account-control ul
  background: none!important
  box-shadow: none!important
  border-color: $mainColor1!important
  a
    border-bottom-color: $mainColor1!important
    color: $mainColor1!important
    text-shadow: none!important
#ds-thread #ds-reset .ds-textarea-wrapper
  background: none!important
  border-color: $mainColor1!important
#ds-reset .ds-gradient-bg
  background: none!important
#ds-thread #ds-reset .ds-post-button, #ds-thread #ds-reset a.ds-like-thread-button
  background: none!important
  border-color: $mainColor1!important
  text-shadow: none!important
  color: $mainColor1!important
#ds-thread #ds-reset .ds-post-options
  border-color: $mainColor1!important
#ds-thread #ds-reset .ds-textarea-wrapper textarea
  color: $greyTextColor!important
#ds-thread #ds-reset .ds-sync label
  color: $mainColor1!important
  &:hover
    color: $mainColor1!important
#ds-reset, #ds-related-reads, #ds-thread #ds-reset .ds-time, #ds-reset span.ds-highlight
  color: $greyTextColor!important
#ds-thread #ds-reset a.ds-like-thread-button span
  color: $mainColor1!important
