<header>
    <div class="logo">
        <a href="<%- config.root %>"><i class="logo-icon fa <%- logoIcon ? logoIcon : theme.fa_logo %>" aria-hidden="true"></i></a>
        <% if(config.title) { %>
            <h1 id="main-title" class="title"><%- config.title %></h1>
        <% } %>
    </div>
</header>